<div class="container group-message-container">
  <div class="message-metadata">
    <h1 class="group-name" *ngIf="selectedGroup">{{selectedGroup.name}}</h1>
  </div>
  <div class="inbox_people">
    <div class="message-box">
      <div class="msg_history">
        <li class="message" *ngFor="let message of messages">
          <div class="incoming_msg">
            <div class="incoming_msg_img">
              <img src="https://i.imgur.com/k2PZLZa.png"
                    alt="User avatar" />
            </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{ message.text }}</p>
              </div>
            </div>
          </div>
      </li>
      </div>
      <div class="type_msg">
        <form class="input_msg_write">
          <input type="text"
                  class="write_msg"
                  placeholder="Type a message"
                  name="newMessage"
                  [(ngModel)]="newMessage" />
          <button (click)="sendMessage()" class="msg_send_btn" type="button">
            <span class="material-icons icon-align">
              send
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
