<header>
  <nav id="nav-bar" [ngClass]="{'navbar-short': isScrolled}" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light sticky">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img [ngClass]="{'navbar-logo': isScrolled}" />Akin</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow margin-right">
          <!--<li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/about-us']">Our Mission</a>
          </li>-->
          <li *ngIf="authService.userData" class="nav-item align-self-center">{{authService.userData.email}}</li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
