<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-10">
      <div class="card border-info">
        <div class="card-body">
          <div class="row justify-content-center mb-3">
            <mat-button-toggle-group name="accountAction" [(ngModel)]="accountAction" aria-label="Font Style">
              <mat-button-toggle value="login">Log In</mat-button-toggle>
              <mat-button-toggle value="register">Create Account</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="row" *ngIf="accountAction === 'login'">
            <div class="col-md-4 text-center random-pic">
              <img src="https://placeimg.com/128/128/nature">
            </div>
            <div class="col-md-8 text-center">
              <form (ngSubmit)="requireInput()">
                <input class="form-control" type="email" placeholder="Email" [(ngModel)]="email" name="email" #name="ngModel" aria-label="email" required>
                <span [ngClass]="{ 'no-error': !emailError }" #emailToolTip class="material-icons error-icon" (click)="emailToolTip.toggle()" matTooltip='{{emailErrors}}' matTooltipPosition="left">error_outline</span>
                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" #name="ngModel" name="password" aria-label="password" required>
                <span [ngClass]="{ 'no-error': !passwordError }" #passwordToolTip class="material-icons error-icon" matTooltip='{{passwordErrors}}' (click)="passwordToolTip.toggle()" matTooltipPosition="left">error_outline</span>
                <a href="" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a>
                <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Log In</button>
              </form>
            </div>
          </div>
          <div class="row justify-content-sm-center" *ngIf="accountAction === 'register'">
            <div class="col-md-4 text-center random-pic">
              <img src="https://placeimg.com/128/128/nature">
            </div>
            <div class="col-md-8 text-center">
              <form (ngSubmit)="requireInput()">
                <input class="form-control" type="email" placeholder="Email" [(ngModel)]="email" name="email" aria-label="email" required> <span [ngClass]="{ 'no-error': !emailError }" #emailToolTip (click)="emailToolTip.toggle()" class="material-icons error-icon" matTooltip='{{emailErrors}}' matTooltipPosition="left">error_outline</span>
                <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" name="password" aria-label="password" required> <span [ngClass]="{ 'no-error': !passwordError }" #passwordToolTip (click)="passwordToolTip.toggle()" class="material-icons error-icon" matTooltip='{{passwordErrors}}' matTooltipPosition="left">error_outline</span>
                <a style="visibility:hidden;cursor:default">Forgot Password?</a>
                <button class="btn btn-lg btn-success btn-block my-2" type="submit">Sign Up</button>
              </form>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
