<app-nav-menu></app-nav-menu>
<div class="container-fluid dashboard-container fill mt-2 mb-2 mr-2">
  <div class="row fill">
    <div class="col-sm-2">
      <div *ngIf="!isMobile" class="row m-0 mb-2 mt-2">
        <input class="form-control col-9" type="search" />
        <button class="col-2 btn btn-primary ml-2" mat-button (click)="openGroupManager()">+</button>
      </div>
      <div [ngClass]="{'selector-container': this.selectedGroup}" class="row">
        <ul *ngIf="!isMobile; else mobileGroupSelector" class="group-list">
          <li *ngFor="let group of userGroups" (click)="this.selectedGroup = group; this.groupIsSelected = true" class="group-container"><span class="group-name">{{group.name}}</span></li>
        </ul>
        <ng-template #mobileGroupSelector>
            <mat-select placeholder="Select a Group" class="form-control mobile-select" [(ngModel)]="groupSelect" (selectionChange)="this.selectedGroup = this.groupSelect; this.groupIsSelected = true" name="group">
              <mat-option *ngFor="let group of userGroups" [value]="group">
                {{group.name}}
              </mat-option>
            </mat-select>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-10 group-box">
      <app-group-chat *ngIf="this.groupIsSelected" [selectedGroup]="selectedGroup"></app-group-chat>
    </div>
  </div>
</div>
