.dashboard-container {
    height: 100%;
    overflow: hidden;
}
.group {
    background: lightblue;
}

.group-box {
    background: grey;
}

.fill {
  min-height: calc(100vh - 56px - 1rem);
  height: calc(100vh - 56px - 1rem);
}

.search-bar {
  background: lightblue;
}

.group-list {
  width: 100%;
  background: lightgreen;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: calc(100vh - 56px - 1rem);
  overflow-y: scroll;
}

.group-container {
  background: tomato;
  padding: 5px;
  margin-top: 5px;
  flex-grow: 1;
  line-height: 150px;
  color: white;
  text-align: center;
}
