/* Mobile Excluded */
@media (min-width: 576px) {
  .dashboard-container {
    height: 100%;
    overflow: hidden;
  }
}

/*All screen sizes*/
.group {
    background: lightblue;
}

.group-box {
  background: #333333;
}

.fill {
  min-height: calc(100vh - 56px - 1rem);
  height: calc(100vh - 56px - 1rem);
}

.search-bar {
  background: lightblue;
}

.group-list {
  width: 100%;
  background: lightgreen;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: calc(100vh - 56px - 1rem);
  overflow-y: scroll;
}

.group-container {
  background: tomato;
  padding: 5px;
  margin-top: 5px;
  line-height: 150px;
  color: white;
  text-align: center;
  border: solid 1px black;
}

/* Mobile Only */
@media (max-width: 575.98px) {
  .dashboard-container {
    overflow: hidden;
  }
  .group-container {
    line-height: 50px;
  }
  .mobile-select {
    width: 80%;
    margin: auto;
  }
  .selector-container{
      height: 100%;
  }
}
