<app-nav-menu></app-nav-menu>
<div class="container-fluid dashboard-container fill mt-2 mb-2 mr-2">
  <div class="row fill">
    <div class="col-sm-2">
      <div class="row m-0 mb-2 mt-2">
        <input class="col-sm-9" type="search" />
        <button class="col-sm-2 btn btn-primary ml-2" mat-button (click)="openGroupManager()">+</button>
      </div>
      <div class="row">
        <ul class="group-list">
          <li *ngFor="let group of userGroups" class="group-container"><span class="group-name">{{group.name}}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 group-box">
    </div>
  </div>
</div>
