
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color:#333333;
}

.fadeInBottom {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInBottom
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}
