/* Mobile Excluded */
@media (min-width: 576px) {
}

/* Mobile Only */
@media (max-width: 575.98px) {
}

/* All screen sizes */
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.bg-danger .mat-simple-snackbar-action {
  color: white !important;
  background: #5a6268 !important;
  border-radius: .25rem;
}

.error-icon {
  color: red;
  vertical-align: text-bottom;
  margin-left: .2rem;
}


