/* Mobile Excluded */
@media (min-width: 576px) {
}
  /* Mobile Only */
  @media (max-width: 575.98px) {
  }
    

/*All screen sizes*/
.vh-100 {
  min-height: 100vh;
  display: flex;
}
.header-text-container {
  position: absolute;
  left: 50%; /* horizontal alignment */
  top: 50%; /* vertical alignment */
  transform: translate(-50%, -50%);
}
